*{
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: rgb(189, 212, 233);
}

.container{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width:60vh;
}
form{
    margin:2em 0 1rem 0;
}
form input,select,button{
    width:100%;
    outline: none;
    border: none;
    border-radius: 1rem;
}
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height:5vh;
    padding-left:0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:2rem 0 1rem 0;
}
.dropdown i {
    font-size: 1.2rem;
    margin-top: 1rem;
}
.select-container img{
    width:2rem;
}
.select-container select{
    font-size: 1.1rem;
}
.msg{
    margin:1.5rem 0 1.5rem 0;
}
form button{
    height:5vh;
    background-color: #af4d98;
    color: white;
    font-size: 1.1rem;
    cursor: pointer
}